<!-- webapp/WEB-INF/web.xml -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
    id="WebApp_ID" 
    version="2.5">
	<display-name>TNAtoolAPI-Webapp</display-name>
	<servlet>		
		<servlet-name>Queries</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
	      <param-name>com.sun.jersey.config.property.packages</param-name>
	      <param-value>com.webapp.api</param-value>
    	</init-param>
    	<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
  		</init-param>
    	<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>		
		<servlet-name>DbUpdate</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
	      <param-name>com.sun.jersey.config.property.packages</param-name>
	      <param-value>com.webapp.modifiers</param-value>
    	</init-param>
    	<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
  		</init-param>
    	<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Queries</servlet-name>
		<url-pattern>/TNAtoolAPI-Webapp/queries/*</url-pattern>		
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DbUpdate</servlet-name>
		<url-pattern>/TNAtoolAPI-Webapp/modifiers/*</url-pattern>		
	</servlet-mapping>
	<servlet>
        <description></description>
     	<display-name>FileUpload</display-name>
	    <servlet-name>FileUpload</servlet-name>
	    <servlet-class>com.webapp.modifiers.FileUpload</servlet-class>
    </servlet>
    <servlet-mapping>
	    <servlet-name>FileUpload</servlet-name>
	    <url-pattern>/TNAtoolAPI-Webapp/FileUpload</url-pattern>
    </servlet-mapping>
	<welcome-file-list>
		<welcome-file>TNAtoolAPI-Webapp/index.jsp</welcome-file>
	</welcome-file-list>
</web-app>