<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>TNA Software Tool ADMIN</title>
	
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	
	<script src="https://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
	<script src="https://blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
	<script src="https://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
<!-- 	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
 -->	<script src="https://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.5/js/jquery.fileupload.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.5/js/jquery.iframe-transport.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.5/js/jquery.fileupload-process.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.5/js/jquery.fileupload-image.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.5/js/jquery.fileupload-audio.js"></script>
<!-- 	<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.5/js/jquery.fileupload-validate.js"></script>
 -->	<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.5/js/jquery.fileupload-ui.js"></script>
<!-- 	<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.5/js/jquery.fileupload-jquery-ui.js"></script>
 -->	<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.5/js/jquery.fileupload-video.js"></script>
	<script src="../resources/admin/adminTool.js"></script>
	<script src="../resources/admin/jquery.fileupload-validate.js"></script>
	
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.5/css/jquery.fileupload.css" />
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.5/css/jquery.fileupload-ui.css" />
	<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
	<link rel="stylesheet" href="../resources/admin/adminTool.css" />
	
	
</head>

<body style="display:none">
	<!-- <header>
		<h1 style="width:60%; margin:auto; margin-top:3%">ADMINISTRATIVE INTERFACE</h1>
	</header> -->
	
	<div id="main">
		<h1 style="width:60%; margin:auto; margin-top:3%; margin-bottom:1em">ADMINISTRATIVE INTERFACE</h1>
		<input type="button" id="addDB" class="dbButtons" value="Add a New Database" onclick="addModifyDB(defaultInfo, -1)">
		<input type="button" id="connectDB" class="dbButtons" value="Add an Existing Database" onclick="addModifyDB(defaultInfo, -1, 1)">
		
<!-- 		<input type="button" id="runPlayground" value="Run Playground Add/Remove Processes" onclick="runPlayground('true')"> -->
		<br><br>
		<div id="dbList">
			
		</div>
		
		
		<div id="dialog-form" title="Database Connection Information">
		 
		  <form>
		    <fieldset id="dialogFields">
		      
		    </fieldset>
		  </form>
		</div>
		
		<div id="gtfs_upload" title="GTFS Add/Remove">
		 
		  <div id="gtfs_notes" class="upload_cards"><h3 style="margin-top: .1em;">Notes:</h3><br>
			  <ul>
			  	<li>The GTFS feeds are only accepted in a <b>ZIP</b> format.</li>
			  	<li>The corresponding GTFS text files must be directly within the ZIP file.</li>
			  	<li>A sample of acceptable GTFS feed can be downloaded from <b><a href="../resources/admin/sampleFiles/corvallis_transit_agency.zip" download>here</a></b>.</li>
			  	<li>Uploaded GTFS feeds are shown in the <b>"Uploaded GTFS Feeds"</b> drop-down list.</li>
			  	<li>If there is a conflict between the Agency ID of the GTFS feed being uploaded and the Agency ID's that already exist in the database, the feed will not be uploaded</li>
			  </ul>
		  </div><br>
		  <div id="gtfs_current_feeds" class="upload_cards"><h3>Uploaded GTFS Feeds</h3>
		  	<div id="agencyList"></div>
		  </div><br>
		  <div id="gtfs_upload_feeds" class="upload_cards">
		    <!-- <fieldset id="gtfsDialog"> -->
		      	<form id="gtfs_upload_form" method="POST" enctype="multipart/form-data">
			        <div class="row fileupload-buttonbar">
			            <div class="col-lg-7">
			                <span class="btn btn-success fileinput-button">
			                    <i class="glyphicon glyphicon-plus"></i>
			                    <span>Add files...</span>
			                    <input type="file" name="files[]" multiple>
			                </span>
			                <button type="submit" class="btn btn-primary start">
			                    <i class="glyphicon glyphicon-upload"></i>
			                    <span>Start upload</span>
			                </button>
			                <button type="reset" class="btn btn-warning cancel">
			                    <i class="glyphicon glyphicon-ban-circle"></i>
			                    <span>Cancel upload</span>
			                </button>
			                
			            </div>
			            <!-- The global progress state -->
			            <div class="col-lg-5 fileupload-progress fade">
			                <!-- The global progress bar -->
			                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
			                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
			                </div>
			                <!-- The extended global progress state -->
			                <div class="progress-extended">&nbsp;</div>
			            </div>
			        </div>
			        <!-- The table listing the files available for upload/download -->
			        <table role="presentation" style="width:100%;border-spacing: 10px;" class="table table-striped"><tbody class="files"></tbody></table>
			    </form>
		    <!-- </fieldset> -->
		  	<!-- The template to display files available for upload -->
			<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
       
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <span class="size">Processing...</span>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled style="display:none">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (true) { %}
                <button class="btn btn-warning cancel" style="display:">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
	</script>
			<!-- The template to display files available for download -->
			<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade" disabled style="display:none">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            
        </td>
    </tr>
{% } %}
</script>
		</div>
		</div>
	
		<div id="pnr_upload" title="Park & Ride Add/Remove">
		 
		  <div id="pnr_notes" class="upload_cards"><h3 style="margin-top: .1em;">Notes:</h3><br>
			  <ul>
			  	<li>The only accepted format for park & ride data is <b>CSV</b>.</li>
			  	<li>A sample of acceptable park & ride CSV file can be downloaded from <b><a href="../resources/admin/sampleFiles/oregon_pnr_data.csv" download>here</a></b>.</li>
			  	<li>The names and the order of the columns must be exactly the same as the sample file provided.</li>
			  	<li>If the values are not available for some of the columns, just leave them empty in the csv file.</li>
			  </ul>
		  </div><br>
		  <div id="pnr_delete_card" class="upload_cards">
			  <button type="button" id="deletePNR" class="btn btn-danger delete" onclick="deletePNR()"><span>Delete Existing Park & Ride Data</span></button>
		  </div><br>
		  <div id="pnr_upload_feeds" class="upload_cards">
		    <!-- <fieldset id="gtfsDialog"> -->
		      	<form id="pnr_upload_form" method="POST" enctype="multipart/form-data">
			        <div class="row fileupload-buttonbar">
			            <div class="col-lg-7">
			                <span class="btn btn-success fileinput-button">
			                    <i class="glyphicon glyphicon-plus"></i>
			                    <span>Add files...</span>
			                    <input type="file" name="files[]">
			                </span>
			                <button type="submit" class="btn btn-primary start">
			                    <i class="glyphicon glyphicon-upload"></i>
			                    <span>Start upload</span>
			                </button>
			                <button type="reset" class="btn btn-warning cancel">
			                    <i class="glyphicon glyphicon-ban-circle"></i>
			                    <span>Cancel upload</span>
			                </button>
			                
			            </div>
			            <!-- The global progress state -->
			            <div class="col-lg-5 fileupload-progress fade">
			                <!-- The global progress bar -->
			                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
			                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
			                </div>
			                <!-- The extended global progress state -->
			                <div class="progress-extended">&nbsp;</div>
			            </div>
			        </div>
			        <!-- The table listing the files available for upload/download -->
			        <table role="presentation" style="width:100%;border-spacing: 10px;" class="table table-striped"><tbody class="files"></tbody></table>
			    </form>
		    <!-- </fieldset> -->
		  	<!-- The template to display files available for upload -->
			<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
       
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <span class="size">Processing...</span>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled style="display:none">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (true) { %}
                <button class="btn btn-warning cancel" style="display:">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
	</script>
			<!-- The template to display files available for download -->
			<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade" disabled style="display:none">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            
        </td>
    </tr>
{% } %}
</script>
		</div>
		</div>
	
	<div id="t6_upload" title="Title VI Add/Remove">
		 
		  <div id="t6_notes" class="upload_cards"><h3 style="margin-top: .1em;">Notes:</h3><br>
			  <ul>
			  	<li>The only accepted format for Title VI data is <b>CSV</b>.</li>
			  	<li>Six different files must be uploaded. The name and the format (column order and names) of the files must <b>exactly</b> be according to the sample files provided below.</li>
			  	<ol style="font-size:80%">
				  	<li><b><a href="../resources/admin/sampleFiles/b03002.csv" download>b03002.csv</a></b></li> 
				  	<li><b><a href="../resources/admin/sampleFiles/b16004.csv" download>b16004.csv</a></b></li> 
				  	<li><b><a href="../resources/admin/sampleFiles/b17021.csv" download>b17021.csv</a></b></li> 
				  	<li><b><a href="../resources/admin/sampleFiles/b18101.csv" download>b18101.csv</a></b></li> 
				  	<li><b><a href="../resources/admin/sampleFiles/b19037.csv" download>b19037.csv</a></b></li>
			  	</ol>
			  	<li>These files can be downloaded from <a href="https://www.nhgis.org/" target="_blank">www.nhgis.org</a> according to the following instructions:
			  	<ol style="font-size:80%">
				  	<li>Go to <a href="https://www.nhgis.org/" target="_blank">www.nhgis.org</a></li>
				  	<li>Use the "Log in" button to log into your account. You can create a new account for free, if you do not have one.</li>
				  	<li>Once logged in, go to the <a href="https://data2.nhgis.org/main" target="_blank">"Select Data" (or "main")</a> page.</li>
				  	<li>Click on "Geographic Level" button and select "Block Group" (except for b18101 table for which you should select "Census Tract").</li>
				  	<li>Click the "Submit" button.</li>
				  	<li>Click on "Years" button and select the most recent range from the list of "5-Year Ranges".</li>
				  	<li>Click the "Submit" button.</li>
				  	<li>In the list of tables provided at the bottom of the page, look for the table name you want to download (e.g. b03002).</li>
				  	<li>Once found, select that table by clicking on the "plus" sign on its left.</li>
				  	<li>Click the green "Continue" button on the top-right corner of the page.</li>
				  	<li>Click "Continue" again.</li>
				  	<li>On the "Review and Submit" page, under "Table File Structure", make sure the "Comma delimited (best for GIS)" is selected only.</li>
				  	<li>Under "Source Tables", click on the "Geographic Extents" button and select the desired state.</li>
				  	<li>Submit the request.</li>
				  	<li>It will take you to the download page in which you will see a table of your requests.</li>
				  	<li>You have to wait until the table is ready to download. It usually takes a few minutes.</li>
				  	<li>Once available, you can click on its name and download the file.</li>
				  	<li>Once available, you can click on its name and download the file.</li>
				  	<li>There will be two CSV and two TXT files (the txt files are the metadata files for the csv files).</li>
				  	<li>You are going to use the CSV file that ends with an "E" (which stands for estimates).</li>
				  	<li>The column names are in codes. You can use the metadata txt file to find the columns you need.</li>
			  	</ol>
			  	</li>
			  </ul>
		  </div><br>
		  <div id="t6_delete_card" class="upload_cards">
			  <button type="button" id="deleteT6" class="btn btn-danger delete" onclick="deleteT6()"><span>Delete Existing Title VI Data</span></button>
		  </div><br>
		  <div id="t6_upload_feeds" class="upload_cards">
		    <!-- <fieldset id="gtfsDialog"> -->
		      	<form id="t6_upload_form" method="POST" enctype="multipart/form-data">
			        <div class="row fileupload-buttonbar">
			            <div class="col-lg-7">
			                <span class="btn btn-success fileinput-button">
			                    <i class="glyphicon glyphicon-plus"></i>
			                    <span>Add files...</span>
			                    <input type="file" name="files[] multiple">
			                </span>
			                <button type="submit" class="btn btn-primary start">
			                    <i class="glyphicon glyphicon-upload"></i>
			                    <span>Start upload</span>
			                </button>
			                <button type="reset" class="btn btn-warning cancel">
			                    <i class="glyphicon glyphicon-ban-circle"></i>
			                    <span>Cancel upload</span>
			                </button>
			                
			            </div>
			            <!-- The global progress state -->
			            <div class="col-lg-5 fileupload-progress fade">
			                <!-- The global progress bar -->
			                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
			                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
			                </div>
			                <!-- The extended global progress state -->
			                <div class="progress-extended">&nbsp;</div>
			            </div>
			        </div>
			        <!-- The table listing the files available for upload/download -->
			        <table role="presentation" style="width:100%;border-spacing: 10px;" class="table table-striped"><tbody class="files"></tbody></table>
			    </form>
		    <!-- </fieldset> -->
		  	<!-- The template to display files available for upload -->
			<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
       
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <span class="size">Processing...</span>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled style="display:none">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (true) { %}
                <button class="btn btn-warning cancel" style="display:">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
	</script>
			<!-- The template to display files available for download -->
			<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade" disabled style="display:none">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            
        </td>
    </tr>
{% } %}
</script>
		</div>
		</div>
		
	<div id="emp_upload" title="Employment Add/Remove">
		 
		  <div id="emp_notes" class="upload_cards"><h3 style="margin-top: .1em;">Notes:</h3><br>
			  <ul>
			  	<li>The only accepted format for Employment data is <b>CSV</b>.</li>
			  	<li>Two files must be uploaded. The name and the format (column order and names) of the files must be <b>exactly</b> according to the sample files provided below.</li>
			  	<ol style="font-size:80%">
				  	<li><b><a href="../resources/admin/sampleFiles/or_rac_S000_JT00.csv" download>or_rac_S000_JT00.csv</a></b></li> 
				  	<li><b><a href="../resources/admin/sampleFiles/or_wac_S000_JT00.csv" download>or_wac_S000_JT00.csv</a></b></li> 
			  	</ol>
			  	<li>These files can be downloaded from <a href="https://lehd.ces.census.gov/data/" target="_blank">lehd.ces.census.gov/data/</a> a follows:
			  	<ol style="font-size:80%">
				  	<li>Once the page is loaded, scroll down to get to the "LEHD Origin-Destination Employment Statistics (LODES)" section.</li>
				  	<li>Select LODES7 from the "version" dropdown list.</li>
				  	<li>Select the desired state from the "state" dropdown list.</li>
				  	<li>Select RAC from the "type" dropdown list.</li>
				  	<li>Click on "view files" button.</li>
				  	<li>From the list, find the file called "or_rac_S000_JT00_[desired year].csv.gz".</li>
				  	<li>Right click on the file and save the file.</li>
				  	<li>Decompress the file to get the "or_rac_S000_JT00_[desired year].csv" file.</li>
				  	<li>Rename the file to "or_rac_S000_JT00.csv" file.</li>
				  	<li>Repeat steps 4 to 9 for WAC data type.</li>
			  	</ol>
			  	</li>
			  </ul>
		  </div><br>
		  <div id="emp_delete_card" class="upload_cards">
			  <button type="button" id="deleteEmp" class="btn btn-danger delete" onclick="deleteEmp()"><span>Delete Existing Employment Data</span></button>
		  </div><br>
		  <div id="emp_upload_files" class="upload_cards">
		    <!-- <fieldset id="gtfsDialog"> -->
		      	<form id="emp_upload_form" method="POST" enctype="multipart/form-data">
			        <div class="row fileupload-buttonbar">
			            <div class="col-lg-7">
			                <span class="btn btn-success fileinput-button">
			                    <i class="glyphicon glyphicon-plus"></i>
			                    <span>Add files...</span>
			                    <input type="file" name="files[] multiple">
			                </span>
			                <button type="submit" class="btn btn-primary start">
			                    <i class="glyphicon glyphicon-upload"></i>
			                    <span>Start upload</span>
			                </button>
			                <button type="reset" class="btn btn-warning cancel">
			                    <i class="glyphicon glyphicon-ban-circle"></i>
			                    <span>Cancel upload</span>
			                </button>
			                
			            </div>
			            <!-- The global progress state -->
			            <div class="col-lg-5 fileupload-progress fade">
			                <!-- The global progress bar -->
			                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
			                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
			                </div>
			                <!-- The extended global progress state -->
			                <div class="progress-extended">&nbsp;</div>
			            </div>
			        </div>
			        <!-- The table listing the files available for upload/download -->
			        <table role="presentation" style="width:100%;border-spacing: 10px;" class="table table-striped"><tbody class="files"></tbody></table>
			    </form>
		    <!-- </fieldset> -->
		  	<!-- The template to display files available for upload -->
			<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
       
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <span class="size">Processing...</span>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled style="display:none">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (true) { %}
                <button class="btn btn-warning cancel" style="display:">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
	</script>
			<!-- The template to display files available for download -->
			<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade" disabled style="display:none">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            
        </td>
    </tr>
{% } %}
</script>
		</div>
		</div>	
		
	<div id="femp_upload" title="Employment Projection Add/Remove">
		 
		  <div id="femp_notes" class="upload_cards"><h3 style="margin-top: .1em;">Notes:</h3><br>
			  <ul>
			  	<li>The only accepted format for Employment Projection data is <b>CSV</b>.</li>
			  	<li>The name and the format (column order and names) of the uploaded file must <b>exactly</b> be according to the sample file provided below.</li>
			  	<li>A sample of acceptable park & ride CSV file can be downloaded from <b><a href="../resources/admin/sampleFiles/future_employment.csv" download>here</a></b>.</li>
			  	<li>The names and the order of the columns must be exactly the same as the sample file provided.</li>
			  </ul>
		  </div><br>
		  <div id="femp_delete_card" class="upload_cards">
			  <button type="button" id="deletefEmp" class="btn btn-danger delete" onclick="deletefEmp()"><span>Delete Existing Employment Projection Data</span></button>
		  </div><br>
		  <div id="femp_upload_files" class="upload_cards">
		    <!-- <fieldset id="gtfsDialog"> -->
		      	<form id="femp_upload_form" method="POST" enctype="multipart/form-data">
			        <div class="row fileupload-buttonbar">
			            <div class="col-lg-7">
			                <span class="btn btn-success fileinput-button">
			                    <i class="glyphicon glyphicon-plus"></i>
			                    <span>Add files...</span>
			                    <input type="file" name="files[]">
			                </span>
			                <button type="submit" class="btn btn-primary start">
			                    <i class="glyphicon glyphicon-upload"></i>
			                    <span>Start upload</span>
			                </button>
			                <button type="reset" class="btn btn-warning cancel">
			                    <i class="glyphicon glyphicon-ban-circle"></i>
			                    <span>Cancel upload</span>
			                </button>
			                
			            </div>
			            <!-- The global progress state -->
			            <div class="col-lg-5 fileupload-progress fade">
			                <!-- The global progress bar -->
			                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
			                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
			                </div>
			                <!-- The extended global progress state -->
			                <div class="progress-extended">&nbsp;</div>
			            </div>
			        </div>
			        <!-- The table listing the files available for upload/download -->
			        <table role="presentation" style="width:100%;border-spacing: 10px;" class="table table-striped"><tbody class="files"></tbody></table>
			    </form>
		    <!-- </fieldset> -->
		  	<!-- The template to display files available for upload -->
			<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
       
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <span class="size">Processing...</span>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled style="display:none">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (true) { %}
                <button class="btn btn-warning cancel" style="display:">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
	</script>
			<!-- The template to display files available for download -->
			<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade" disabled style="display:none">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            
        </td>
    </tr>
{% } %}
</script>
		</div>
		</div>	
		
	</div>
	
	
</body>

</html>